<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+win8" />
  <package id="FreshEssentials" version="2.0.1" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Identity.Client" version="1.0.304142221-alpha" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Media" version="2.4.0-beta3" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="portable45-net45+win8" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="portable45-net45+win8" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="portable45-net45+win8" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="portable45-net45+win8" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="portable45-net45+win8" />
</packages>